<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Better Now Playing Extention.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Better Now Playing ExtentionExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Better Now Playing Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Better Now Playing WidgetsExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Better Now Playing.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB3D8BDB2DC298E100F68819</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB4931072DC2902900DCA32F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB95F4132CAD7717000A9A91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB95F4232CAD7719000A9A91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB95F42D2CAD7719000A9A91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB95F4392CAD7719000A9A91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB95F44B2CAD771A000A9A91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB95F4552CAD771A000A9A91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
